.overlay {
  position: relative;
  /* Sit on top of the page content */
  /* display: none; */
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */

  background-color: rgba(177, 177, 177, 0.5);
  /* Black background with opacity */
  z-index: 2;
}